
<%- include("partials/header");-%>
    <h1><%=viewTitle%></h1>
    <form class="" action="/compose" method="POST" autocomplete="off">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle" value="<%=title%>">
        <label class="discription">Discription</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30" value="<%=content%>"><%=content%></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("partials/footer"); -%>
